*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

/* .body{
    font-family: 'Open Sans', sans-serif;
} */

/* UTILITIES */

ul{
    list-style-type: none;
}

a{
    text-decoration:none;
    color: black;
}

.blue-button{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border:1px solid blue;
}

.blue-link{
    text-decoration: underline;
    color: blue;
}

.white-button{
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid white;
}
/* FINE UTILITIES */
/* HEADER LAYOUT */
.h-row{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.h-col-45{
    /* border: 1px solid black; */
    width: 45%;
}

.h-col-10{
    width: 10%;
    /* border:1px solid black; */
}
/* FINE HEADER LAYOUT */
/* STILE CONTENUTO HEADER */
.h-link, .h-logo{
    display: inline-block;
}

.h-li{
    display:inline;
    padding: 15px;
}

.h-right{
    display: flex;
    justify-content: right;
}

/* FINE STILE CONTENUTO HEADER */
/* JUMBOTRON LAYOUT */
.jumb-background{
    background-color: #B4D0E7;
}

.jumb-row{
    /* height: 500px; */
    display: flex;
    flex-wrap: wrap;
    /* background-color: grey; */
}

.jumb-col-100{
    width: 100%;
    /* height: 100px; */
    /* background-color:lightcoral; */
}

.jumb-col-30{
    /* height: 400px; */
    width: 30%;
    /* background-color: lightcyan; */
    position: relative;
    /* padding-top:30px; */
}

.jumb-col-70{
    /* height: 400px; */
    width: 70%;
    /* background-color: lightgreen; */
    position: relative;
}
/* FINE JUMBOTRON LAYOUT */
/* STILE CONTENUTO JUMBOTRON */
#main-title{
    font-size: 50px;
}

.jumb-main-text{
    margin:75px 0 40px 0;
}

#jumb-button{
    margin-bottom: 40px;
}

.fa-arrow-down{
    position:absolute;
    left: 0;
    bottom: 15px;
}

#jumb-img{
    width: 100%;
    position: relative;
    top: 70px;
}
/* FINE STILE CONTENUTO JUMBOTRON */
/* LAYOUT PRIMA SEZIONE */
.first-sec-row{
    /* height: 700px; */
    margin-top: 50px;
    /* background-color: lightyellow; */
    display: flex;
    flex-wrap: wrap;
}

.first-sec-col-33{
    /* height: 500px; */
    width: calc(100% / 3 - 20px);
    margin: 10px;
    /* background-color: rgb(2, 151, 151); */
    line-height: 2;
}

.first-sec-col-100{
    /* height: 165px; */
    width: 100%;
    /* background-color: rgb(104, 238, 238); */
    margin: 10px;
    line-height: 2;
    position:relative;
}

.first-sec-col-100, .first-sec-col-33{
    border: 1px solid black;
}

/* FINE LAYOUT PRIMA SEZIONE */
/* STILE CONTENUTO PRIMA SEZIONE */
.first-sec-form{
    border:none
}

.first-sec-form h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.first-sec-form span{
    margin:0 30px 30px 0;
}

.upper-icon{
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
}

.try-button{
    display: block;
    margin-bottom:20px;
}

.absolute-button{
    position:absolute;
    right: 20px;
    top: 70px;
}

.subscription, .service, .first-sec-hr, .upper-container{
    margin-bottom:30px;
}

.first-sec-hr{
    width: 50px;
    border-color: grey;
    margin:30px 0px 40px 30px;
}

.hot-stuff, .subscription, .service, .try-or, #col-100-bottom-text{
    padding-left: 30px;
}

/* FINE STILE CONTENUTO PRIMA SEZIONE */
/* LAYOUT SECONDA SEZIONE */
.second-sec-row{
    /* height: 400px; */
    /* background-color: greenyellow; */
    display: flex;
    padding: 0 10px;
}

.second-sec-col-60{
    /* height: 400px; */
    width: 60%;
    /* background-color: goldenrod; */
}

.second-sec-col-40{
    /* height: 400px; */
    width: 40%;
    /* background-color: rgb(106, 106, 189); */
}
/* FINE LAYOUT SECONDA SEZIONE */
/* STILE CONTENUTO SECONDA SEZIONE */
#partner-img{
    width: 100%;
}

.second-sec-col-40-content{
    padding-top: 100px;
    padding-left: 50px;
}

.second-sec-col-40-content h3, .second-sec-col-40-content p{
    margin-bottom: 20px;
}

.border-button{
    border-color: black;
}
/* FINE STILE CONTENUTO SECONDA SEZIONE */
/* LAYOUT TERZA SEZIONE */
.third-sec-row{
    /* height: 700px; */
    /* background-color: rgb(139, 127, 10); */
    display: flex;
    flex-wrap: wrap;
}

.third-sec-col-100{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.third-sec-col-33{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    /* background-color: orange; */
    /* border: 1px solid black; */
}
/* FINE LAYOUT TERZA SEZIONE */
/* STILE CONTENUTO TERZA SEZIONE */
.business-img{
    width: 100%;
    margin-bottom: 20px;
}

.third-sec-col-33-text h3{
    margin-bottom: 30px;
}
/* FINE STILE CONTENUTO TERZA SEZIONE */
/* LAYOUT QUARTA SEZIONE */
.fourth-sec-row{
    /* height: 350px;
    background-color:brown; */
    margin:150px 0 100px 0;
}

.fourth-sec-col-60{
    width: 60%;
    /* height: 350px;
    background-color: rgb(53, 12, 12); */
}
/* FINE LAYOUT QUARTA SEZIONE */
/* STILE CONTENUTO QUARTA SEZIONE */
#fourth-sec-h2{
    margin-bottom:30px;
}

/* FINE STILE CONTENUTO QUARTA SEZIONE */
/* LAYOUT QUINTA SEZIONE */
.fifth-sec-row{
    /* height: 500px; */
    /* background-color: rgb(245, 245, 124); */
    width: 100vw;
    display: flex;
}

.fifth-sec-subrow{
    /* height: 500px; */
    /* background-color: rgb(183, 111, 250); */
    display: flex;
    flex-wrap: wrap;
}

.fifth-sec-col-33{
    /* height: 500px; */
    width: calc(100% / 3);
    /* border: 1px solid black;   */
    background-color: #F5F5F5;
}

.fifth-sec-subcol-50{
    width:calc(100% / 2);
    /* height: 100%;
    background-color: rgb(82, 0, 158);
    border: 1px dashed green; */
}
/* FINE LAYOUT QUINTA SEZIONE */
/* STILE CONTENUTO QUINTA SEZIONE */
.fifth-sec-subcol-50{
    display: flex;
    justify-content: center;
    align-content: center;
}

.banner-img{
   width: 300px;
   height: 250px;
   filter: brightness(0) invert(1);
   padding: 70px;
}

.fifth-sec-mid-content{
    margin: 50px 30px;
}

#designit-logo{
    width: 300px;
}

.fifth-sec-mid-content hr{
    width:120px;
    margin: 30px 0;
}

#written-by{
    margin-top: 30px;
}

#designit{
    background-color: #A2D39B;
}

#arizona{
    background-color: #61082B;
}

#florida-uni{
    background-color: #0093CE;
}

#topps{
    background-color: #FF1C1C;
}

#bicycle{
    background-color: #D5001F;
}

#hearst{
    background-color: #B4D0E8;
}

#lonely{
    background-color: #0D2481;
}

#clear{
    background-color: #FFD830;
}
/* FINE STILE CONTENUTO QUINTA SEZIONE */
/* LAYOUT SESTA SEZIONE */
.sixth-sec-row{
    /* height: 250px; */
    background-color: #B4D0E7;
    display: flex;
}

.sixth-sec-col-50{
    width: 50%;
    margin: 100px 0;
    /* height: 100%; */
    /* border: 1px solid yellow; */
}
/* FINE LAYOUT SESTA SEZIONE */
/* STILE CONTENUTO SESTA SEZIONE */
.sixth-sec-left{
    display: flex;
    justify-content: flex-end;
}

.sixth-sec-left-content{
    display: flex;
    align-items: center;
}

#free-trial-button{
    margin-left: 200px;
    padding: 10px 30px;

}

/* FINE STILE CONTENUTO SESTA SEZIONE */
/* LAYOUT SETTIMA SEZIONE */


.seventh-sec-row{
    height: 600px;
    background-color: rgb(255, 193, 117);
    display: flex;
    flex-direction: column;
}

.seventh-sec-col-100{
    height: 200px;
    background-color: bisque;
    border: 1px solid black;
    width: 100%;
}
/* FINE LAYOUT SETTIMA SEZIONE */
/* LAYOUT FOOTER */
footer{
    height: 200px;
    background-color: black;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    height: 100%;
}

.footer-col-20{
    width: 20%;
    height: 100%;
    border: 1px solid white;
}
/* FINE LAYOUT FOOTER */